// Definitions

//    fonts
@font-default: normal 300 17px~'/'27px 'Raleway', sans-serif;

//    colors
@color-font:          #262626;
@color-font-inverted: #ffffff;
@color-font-footer:   #b9b9b9;
@color-font-em:       #ff2b58;

@color-bg:            #ffffff; //use it for light backgrounds with images: hero, subscr, contact

//the next colors are encountered only once, you can not use these variables
//@color-bg-about:      #00c4c4;
//@color-bg-services:   #70bfff;
//@color-bg-galery:     #ffe92f;
//@color-bg-blog:       #b07cf7;
//@color-bg-footer:     #262626;

// @color-btn:           #ff6033;
// @color-btn2:          #5585a2;
// @color-btn3:          #96b92c;
// @color-btn4:          #f72b3b;

// @color-form:          #00c4c4;
// @color-form-border:   #355b82;

// BREAKPOINTS for @media
@bp-laptop: 1024px;
@bp-tablet: 768px;
@bp-mobile: 425px;

//    mixins
//the shadow under hovered items
.shadow() {
	box-shadow: 0 2px 5px rgba(0,0,0,.5);
}
.hover-shadow() {
	&:hover {
		box-shadow: 0 4px 10px rgba(0,0,0,.5);
	}
}

//    common blocks

//parametric mixin for headings h1, h2, h3
.heading(@font-size: 90px, @font-weight: 800,) {
	font: @font-default;
	font-size: @font-size;
	font-weight: @font-weight;
	line-height: @font-size;
	// margin: 100px auto 34px; //suitable only for h1 elements
}
//style for buttons and button-like links. A link element only needs bg-color.
.button() {
	width: 200px;
	height: 55px;
	border: 0px;
	color: @color-font-inverted;
	text-transform: uppercase;
	font-size: 20px;
	white-space: nowrap;
	text-overflow: ellipsis;
}
//wrapper for all section - put it into yours sections
.wrapper {
	box-sizing: border-box;
	max-width: 1200px; // from psd template
	// min-width: 1000px;  // from psd template
	padding: 0 15px;
	margin: 0 auto;
	position: relative;
	// text-align: center;
	@media screen and (max-width: @bp-laptop) {
		max-width: @bp-laptop;
	}
	@media screen and (max-width: @bp-tablet) {
		padding: initial 10px;
	}
	@media screen and (max-width: @bp-mobile) {
		padding: initial 5px;
	}
}
.section-title {
	.heading();
	// margin: 100px auto 34px;
	@media screen and (max-width: @bp-laptop) {
		.heading(70px, 800);
		// margin: 80px auto 24px;
	}
	@media screen and (max-width: @bp-tablet) {
		.heading(60px, 800);
		// margin: 70px auto 24px;
	}
	@media screen and (max-width: @bp-mobile) {
		.heading(50px, 800);
		// margin: 40px auto 14px;
	}
}

.transition(@property:all) {
	transition: @property .2s ease-out;
}

* { .transition; }
// END: Definitions
//#############################################################################
a {
  background-color: transparent;
  text-decoration: none;
  color: @color-font;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  line-height: 25px;
}
.h1 {
	.section-title;
	margin: 0;
	font-size: 90px;
	// font-weight: 800;
	font-family: 'Raleway', sans-serif;
}
.h2 {
	.section-title;
	font-size: 60px;
	// font-weight: 800;
	font-family: 'Raleway', sans-serif;
}
.h3 {
	font-size: 40px;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
	margin: 0 0;
	@media screen and (max-width: @bp-laptop) {
		.heading(40px, 800);
		// margin: 80px auto 24px;
	}
	@media screen and (max-width: @bp-tablet) {
		.heading(35px, 800);
		// margin: 70px auto 24px;
	}
	@media screen and (max-width: @bp-mobile) {
		.heading(30px, 800);
		// margin: 40px auto 14px;
	}
}

body {
	font: @font-default;
	position: relative;
	padding-top: 50px;
	// FIX IT: crutch for right bg-color in the 1st section
	background: #f9f8fb;
	@media screen and (max-width: @bp-laptop) {
		& {padding-top: 5px;}
	}
}
.button {
	display: inline-block;
	text-align: center;
	line-height: 55px;
	width: 200px;
	height: 55px;
	border: none;
	font-size: 20px;
	font-weight: 300;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	.shadow;
	.transition;
}
.button:hover {
	// border-radius: 5px;
	.hover-shadow;
}
.button:active {
    box-shadow: 0 0 0 0 transparent;
}
//#############################################################################
/*      HEADER */

.header {
	width: 100%;
	position: relative;
	z-index: 10;
	// FIX IT: makes extra margin which makes a horisontal scroll
	margin: 0 auto;
	background: rgba(249, 248, 251, 0.8);
	box-sizing: border-box;
	/*For IE 11*/
	position: fixed;
	/*For all browsers*/
	position: sticky;
	top: 0;
	&_wrap {
		.wrapper;
	}
	&_logo {
		display: inline-block;
		// width: 127px;
	}
	&_menu {
		// display: inline-block;
		float: right;
		padding-top: 12px;
	}
}
.menu_link {
	text-transform: uppercase;
	position: relative;
	display: inline-block;
	margin-left: 33px;
	@media screen and (max-width: @bp-tablet) {
		// visibility: hidden;
		transition: none;
		font-size: 10px;
		margin-left: 6px;
		letter-spacing: -.05em;
	}
	@media screen and (max-width: @bp-mobile) {
		visibility: hidden;
	}
	&::before {
		position: absolute;
		top: -9px;
		left: 0;
		display: block;
		content: "";
		width: 100%;
		height: 3px;
		background: red;
		transform: scaleX(0);
		transition: all .2s ease-out;
	}
	&:active:before,
	&:hover:before {
		transform: scaleX(1);
	}
	&:first-of-type {
		margin-left: 0;
	}
}

/* END: HEADER */

.main {
	position: relative;
}

//#############################################################################
/*      HERO */

.home {
	margin: 0 auto;
	// max-width: 1500px;
	// height: 898px;
	padding-bottom: 330px;
	position: relative;
	// top: -102px;
	// z-index: 3;
	background-image: url(../image/screen1.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	@media screen and (max-width: @bp-tablet) {
		height: initial;
		padding-bottom: 175px;
	}
	// TODO: change to background-position;
	&_wrap {
		.wrapper;
		z-index: 5;
		padding-top: 197px;
		@media screen and (max-width: @bp-tablet) {
			padding-top: 50px;
		}
	}
	&_content {
		max-width: 400px;
	}
	&_content .h2 {
		margin-bottom: 12px;
		letter-spacing: 0.01em;
	}
	&_content .p {
		margin: 0;
	}

	&_scroll {
		display: inline-block;
		width: 20px;
		height: 40px;
		border: 2px solid #000;
		border-radius: 25px ;
		position: relative;
		left: 50%;
		bottom: -290px;
		box-shadow: 0 0 5px grey inset;
		animation: scroll 900ms cubic-bezier(0.6, -0.28, 0.735, 0.045) 2.5s infinite;
		animation-direction: alternate;
		@media screen and (max-width: @bp-tablet) {
			bottom: -130px;
		}
		&:after {
			position: absolute;
			display: block;
			content: '';
			width: 2px;
			height: 10px;
			background: #000;
			left: 9px;
			top: 5px;
		}
		&:hover {
			animation-play-state: paused;
		}
	}
}
.button__home {
		background: #FF6033;
		color: #fff;
		margin-top: 30px;
}
@keyframes scroll {
	0% {transform: translateY(0px);}
	100% {transform: translateY(15px);}
}

/* END: HERO */
//#############################################################################
/*      ABOUT */

.about {
	box-sizing: border-box;
	padding-top: 180px;
	height: 700px;
	background: url(../image/screen2.png) #00B2B2;
	background-repeat: no-repeat;
	background-position: ~'calc(50% - 250px)' center;
	color: @color-font-inverted;
	@media screen and (max-width: @bp-tablet) {
		padding-top: 60px;
		height: unset;
		background-size: 50%;
		background-position: ~'calc(50% - 200px)' ~'calc(80% - 210px)';
	}
	@media screen and (max-width: @bp-mobile) {
		background-position: ~'calc(50% - 100px)' ~'calc(25% - 120px)';
	}
	&_content {
		margin-left: auto;
		width: 42%;
		max-width: 500px;
		@media screen and (max-width: @bp-tablet) {
			width: 100%;
			text-align: center;
			margin-right: auto;
			// color: @color-font;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
			padding-bottom: 20px;
		}
	}
}
/* END: ABOUT */
//#############################################################################
/*      SERVICES */

.services {
	width: 100%;
	height: 790px;
	background: #70BFFF;
	background-image: url(../image/screen3.png);
	background-position: ~'calc(45% + 300px)' center;
	background-repeat: no-repeat;
	@media screen and (max-width: @bp-tablet) {
		padding-top: 60px;
		width: initial;
		height: initial;
		// background-size: 50%;
		background-position: center 100%;
	}
	&_wrap {
		max-width: 1170px;
		// min-width: 970px;
		height: 100%;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
		@media screen and (max-width: @bp-tablet) {
			// min-width: initial;
			height: initial;
			flex-direction: column;
		}
	}
	&_menu {
		height: 478px;
		width: 400px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		margin: auto;
		@media screen and (max-width: @bp-tablet) {
			height: initial;
			width: initial;
			margin: 0 auto 30px;
		}
	}
	&_item {
		display: inline-block;
		color: @color-font-inverted;
		line-height: 710px;
		white-space: nowrap;
		@media screen and (max-width: @bp-tablet) {
			height: initial;
			line-height: initial;
			margin-bottom: 17px;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
		}
	}
}
.sprite_item {
	fill: #262626;
}
.icon_shopping {
	width: 46.7px;
	height: 42.8px;
}
.icon_product {
	width: 53.7px;
	height: 47.6px;
}
.icon_delivery {
	width: 53px;
	height: 53.2px;
}
.icon_organized {
	width: 54.1px;
	height: 54.1px;
}

	/*      SERVICES-Category */

.category {
	max-width: 400px;
	min-height: 100px;
	display: flex;
	align-items: center;
	background: #FFF;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	box-shadow: 2px 2px 5px 0 rgba(0,0,0,.5);
	position: relative;
	@media screen and (max-width: @bp-tablet) {
		width: initial;
		margin-bottom: 10px;
		min-height: 75px;
	}
	&:hover {
		box-shadow: 4px 4px 10px 0 rgba(0,0,0,.5);
	}
	&_link {
		width: 100%;
		background: transparent;
		text-align: center;
		@media screen and (max-width: @bp-laptop) {
			width: 100%;
		}
	}
	&_icon {
		width: 100px;
		text-align: center;
	}
}

	/* END: SERVICES-Category */

/* END: SERVICES */
//#############################################################################
/*      GALLERY */

.gallery {
	width: 100%;
	height: 1540px;
	background: #FFE92F;
	@media screen and (max-width: @bp-tablet) {
		height: initial;
	}
}
.gallery_wrapper {
	box-sizing: border-box;
	// width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 100px 0 10px;
	text-align: center;
	@media screen and (max-width: @bp-tablet) {
		padding: 60px 0 10px;
	}
}
.gallery_wrap p {
	width: 45%;
	margin: 30px auto;
}

	/*      Gallery-Grid */
// IE11 grid support
.ie-grid() {
	display: -ms-grid;
	-ms-grid-rows: 13fr 30px 13fr 30px 20fr; // -ms-grid haven't grid-gap
	-ms-grid-columns: 3fr 30px 1fr 30px 2fr;
}
.ie-grid-area(@row, @col, @rowSpan, @colSpan) {
	-ms-grid-row: @row;
	-ms-grid-column: @col;
	-ms-grid-row-span: @rowSpan;
	-ms-grid-column-span: @colSpan;
}

.gallery_grid {
	box-sizing: border-box;
	// min-width: 1170px;
	min-height: 980px;
	padding: 0 15px;
	// margin: auto;
	// if PixelPerfect will not be good -> grid-columns add extra grid-line for a gap
	//                                     2fr 1fr 1fr 2fr
	//                                     and increase start columns and spans in this area at 1
	grid-template: 13fr 13fr 20fr ~'/' 3fr 1fr 2fr; // 260px 260px 400px / 3fr 1fr 2fr;
	grid-gap: 30px;
	grid-auto-flow: dense;
	.ie-grid();
	display: grid;
	@media screen and (max-width: @bp-tablet) {
		width: 100%;
		min-height: 620px;
		grid-gap: 10px;
	}
	@media screen and (max-width: @bp-mobile) {
		// width: 100%;
		min-height: 320px;
		grid-gap: 5px;
	}
}
.grid_element {
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	-webkit-box-shadow:2px 2px 5px 0 rgba(0,0,0,.5) ;
	        box-shadow:2px 2px 5px 0 rgba(0,0,0,.5) ;
}
.grid_element:hover {
  -webkit-box-shadow: 4px 4px 10px 0 rgba(0,0,0,.5);
          box-shadow: 4px 4px 10px 0 rgba(0,0,0,.5);
}
// in grid-area only number was changed,
.element__first {

	.ie-grid-area(1,1,3,3);
	grid-area: ~'1 / 1 / span 2 / span 2';
	background-image: url(../image/4_1.jpg);
}
.element__second {
	.ie-grid-area(1,5,1,1);
	grid-area: ~'1 / 3 / span 1 / span 1';
	background-image: url(../image/4_2.jpg);
}
.element__third {
	.ie-grid-area(3,5,1,1);
	grid-area: ~'2 / 3 / span 1 / span 1';
	background-image: url(../image/4_3.jpg);
}
.element__four {
	.ie-grid-area(5,1,1,1);
	grid-area: ~'3 / 1 / span 1/ span 1';
	background-image: url(../image/4_4.jpg);
}
.element__five {
	.ie-grid-area(5,3,1,3);
	grid-area: ~'3 / 2 / span 1 / span 2';
	background-image: url(../image/4_5.jpg);
}

	/* END: Gallery-Grid */

.gallery_button {
	background: #5585A2;
	margin-top: 50px;
	color: #fff;
	@media screen and (max-width: @bp-tablet) {
		margin-top: 20px;
		margin-bottom: 30px;
	}
}

/* END: GALLERY */
//#############################################################################
/*      SUBSCRIBE */

.subscribe {
	width: 100%;
	height: 360px;
	padding-top: 140px;
	background: white url(../image/screen5.jpg);
	background-repeat: no-repeat;
	background-position: center;
	@media screen and (max-width: @bp-tablet) {
		padding-top: 70px;
		padding-bottom: 30px;
		height: initial;
	}
	@media screen and (max-width: @bp-mobile) {
		background-position: -100% center;
			// background-position: center center;
	}
	&__text {
		max-width: 570px;
	}
	&_form {
		// box-sizing: content-box;
		width: 100%;
		margin-top: 27px;
		@media screen and (min-width: 580px) {
			padding-bottom: 30px;
		}
	}
	&_email {
		width: 570px;
		height: 55px;
		border: 1px solid #262626;
		padding-left: 20px;
		margin-right: 20px;
		vertical-align: middle;
		@media screen and (max-width: @bp-tablet) {
			width: ~'calc(100% - 230px)';
		}
		@media screen and (max-width: 580px) {
			width: ~'calc(100% - 30px)';
			margin-right: 0;
			max-width: 100%;
		}
		&:focus {
			outline: none;
		}
		&::placeholder {
			font-size: 15px;
			line-height: 27px;
			font-family: 'Raleway', sans-serif;
			font-weight: 300;
			color: #262626;
		}
	}
	&_button {
		color: #fff;
		background: #96B92C;
		width: 170px;
		margin: 0 6px;
		vertical-align: middle;
		@media screen and (max-width: 580px) {
			margin: 10px auto;
			display: block;
		}
	}
}

/* END: SUBSCRIBE */
//#############################################################################
/*      BLOG */

.description {
	// min-width: 570px;
	// height:66px;
	font:@font-default;
	line-height: 1.5;
	text-align: center;
}
.blog {
	box-sizing: content-box;
	// width: 100%;
	// height: 864px;
	position: relative;
	background-color:#b07cf7;
	font:@font-default;
	color: @color-font-inverted;
	&_h1 {
		display:block;
		margin: 0 auto;
		font-weight: 700;
		line-height: 100px;
		text-align:center;
	}	
	&_wrapper {
		// height:663px;
		// position: absolute;
		// top:82px;
		// left:0;
		// right:0;
	}
	&_description {
		margin:26px auto 52px auto;
	}
	&_container {
		// width:100%;
		// height: 310px;
	}
	&_button{
		display: block;
		margin:52px auto 0 auto;
		font:@font-default;
		font-size: 20px;
		color: @color-font-inverted;
		text-align: center;
		text-transform: uppercase;
		background-color:  #f72b3b;
		.transition();
		&:hover{
			// width: 202px;
			// height: 57px;
			cursor:pointer;
		}
		&:active {
			-webkit-box-shadow: 0 0 0 0 transparent;
			        box-shadow: 0 0 0 0 transparent;
		}
	}
}
.article {
	display: inline-block;
	// width: 370/1170*100%;
	// height: 100%;
	float: left;
	font:@font-default;
	.shadow();
	img {
	position: relative;
	width: 100%;
	height: auto;
	
	}
	&_date{
		box-sizing: border-box;
		width: 60px;
		height: 60px;
		margin-left:30px;
		margin-top: 30px;
		padding: 5px;
		border-radius: 5px;
		background-color:  rgba(38, 38, 38, 0.5);
		font:@font-default;
		font-size: 32px;
		font-weight: 700;
		color: @color-font-inverted;
		line-height: 0.8;
		text-align: center;
		span {
			font-weight: 800;
			font-size: 21px;
			text-transform: uppercase;
		}
	}
	&_title {
		position: absolute;
		bottom: 55px;
		text-decoration: capitalize;
		font-size: 20px;
		font-weight: 700;
		line-height: 25px;
		/*background: blue;*/
	}
	&_time-ago {
		position: absolute;
		bottom: 17px;
		/*background: green;*/
		font:@font-default;
		color: @color-font-inverted;
		font-size: 13px;
	}
	&_gradient {
		position: relative;
		box-sizing: border-box;
		width: 100%;
		height: calc(~"100% - 90px - 30px");
		background: linear-gradient(transparent,#000);
		/*background: red;*/
		margin-top: 30px;
		div {
			margin: 0 0 0 20px;
			padding: 0;
			color: @color-font-inverted;
		}
	}
	&__hover {
		width:361/1170*100%; 
		height: 310px;
		position: absolute;
		opacity:0;
		z-index: 2;
	}
	&:hover .article__hover {
		opacity: 1;
		.transition();
	}
	&:not(:last-child) {
	margin-right:30/1170*100%;
	}
	.hover-shadow();
}

/* END: BLOG */
//#############################################################################
/*      CONTACT */

.contact {
		box-sizing: content-box;
		// width: 100%;
		// height: 866px;
		position: relative;
		background: url("../image/contact_backgr.jpg")  no-repeat;
		background-size: cover;
	&_h1 {
		display:block;
		margin: 0 auto;
		color:  @color-font;
		font-weight: 700;
		text-align:center;
		line-height: 100px;
	}
	&_wrapper {
		// height:663px - 82px - 26px;
		// position: absolute;
		// top:82px;
		// left:0;
		// right:0;
	}
	&_description{
		max-width: 360px;
		margin:26px auto 26px auto;
		color:  @color-font;
	}
	&_container {
		display: block;
		box-sizing: border-box;
		// width: 100%;
		// height: 100%;
		padding: 0;
	}
	&_form {
		// width: 500/1170*100%;
		margin: 0;
		box-sizing: inherit;
		// float: left;
	}
	&_input {
		display: block;
		// width:100%;
		box-sizing: inherit;
		margin-bottom: 15px;
		padding-left: 20px;
		font:@font-default;
		font-size: 15px;
		font-weight: 300;
		color: @color-font-inverted;
		line-height:50px;
		border: none;
		background: rgba(0,196,196,.5);
		&:not(:last-child){
			height:50px;
		}
		&:last-child {
			height:250px; 
			resize: none;
		}
		&:placeholder {
			color: @color-font-inverted;
		}
		&:hover {
			cursor: pointer;
			.hover-shadow();

		}
		&:focus {
			font-weight: 700;
			background: rgb(0, 196, 196);
			border-left: 4px solid #355b82;
		}
	}
	&_info {
		height: 160/648*100%;
		box-sizing: border-box;
		// float: left;
		// margin-left: 170/1170*100%;
		padding-left: 3px;
		font: @font-default;
		font-size: 20px;
		font-weight: 300;
		color:  @color-font;
	}
	&_h2infotype {
		display: block;
		font-size: 17px;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 1;
	}

	&_h2infotype:not(:first-child) {
		margin-top: 16px;
		margin-bottom: 0px;
	}
	&_h2infotype:first-child {
		margin-top: 0;
		margin-bottom: 0px;
	}
}

/* END: CONTACT */
//#############################################################################
/*      FOOTER */

.footer {
	background: #262626;
	color: @color-font-footer;
	margin: 0;
	padding: 0;
	// min-width: 1000px;
	font: @font-default;
	&_content {
		// height: 90px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&_link {
		color: @color-font-footer;
	}
	&_link:hover {
		text-decoration: underline;
	}
	&_logo {
		width: 64px;
	}
}
.em {
	color: #F24261;
	font-weight: 700;
	font-style: normal;
}
// SVG internal class
.logo__svg {
	fill: @color-font-footer;
}

/* END: FOOTER */
